/* ============== COMMON STYLES ============== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
}
button {
  cursor: pointer;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
    font-family: "Mashetic", sans-serif;
    background-color: #001530;
    color: #FFFFFF;
}


/* Загальні стилі для кнопок */
.btn {
    font-size: 12px;
    border: none;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s;
    padding: 10px 8px;
    letter-spacing: 0.03em;
    background: linear-gradient(90deg, #3b34a1 0%, #e1400f 100%);
}

.btn:hover,
.btn:focus,
.hero:active
  {
  color: #000;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Мобільні стилі */
@media (max-width: 768px) {
 /* ------------------------HEADER-------------------- */
    .nav{
        display: none;
    }
    .logo{
        width: 100%;
        text-align: center; 
    }
    .nav-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px; 
        margin-top: 28px;
    }
    .logo {
        display: block;
        margin: 0 auto; 
        color: #DF3D0F;
        font-size: 18px;
    }
    .mobile-open-btn-icon{
        margin-top: 6px;
        line-height: 0;
    }
    .header-container {
        margin-top: 70px;
        flex-direction: row; 
        align-items: center; 
        justify-content: flex-start;
    }

/* ------------------------HERO-------------------- */
    .container{
        margin: 0 15px;
    }
    .hero {
        text-align: center;
        margin-top: 63px;
    }
    .hero-title {
        font-weight: 400;
        font-size: 28px;
        margin-bottom: 21px;
        line-height: 1.5; 
      }
      
      .hero-text {
        font-family: "Poppins", sans-serif;
        color: #FFFFFF;
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 130px;
        line-height: 1.5;
        /* letter-spacing: 1.5px; */
      }
    .img-contai{
        height: 346px; 
        background-image: url(/images/hero.png);
        background-size: contain; 
        background-position: center; 
        background-repeat: no-repeat; 
        width: 404px; 
        padding: 0;
        margin: 0;
    }

    .btn-container {
        display: flex; 
        flex-direction: column; 
        gap: 39px;
        align-items: center;
        margin-top: 63px;
        margin-bottom: 15px;
        
      }
    .hero-btn {
        width: 292px;
        height: 73px;
        font-size: 24px;
        border: none;
        color: #FFFFFF;
        text-decoration: none;
        cursor: pointer;
        display: inline-block;
        transition: background-color 0.3s;
        padding: 18px 8px;
        letter-spacing: 0.03em;
        background: linear-gradient(90deg, #3b34a1 0%, #e1400f 100%);
    }
    .btn-get-started{
        background: #001530;
        border: solid;
        border-image: linear-gradient(90deg, #3b34a1 0%, #e1400f 100%) 1;
    }
      .hero-btn:hover,
      .hero-btn:focus,
      .hero-btn:active
       {
        color: #000;
      }

/* ------------------------SERVICES-------------------- */
    .services{
        padding: 0 90px;
    }   
    .services-list {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 44px;
        margin: 90px auto 40px;
      }
      
      .services-item {
        border-radius: 15px;
        width: 334px;
        min-height: 228px;
        background-color: rgba(59, 52, 160, 0.27);
        padding: 24px 38px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
        margin-bottom: 63px;
      }
 
      .services-text {
        font-weight: 200;
        font-size: 24px;
        text-align: center;
        margin-top: 100px;
        width: 286px;  
      }
      .services-img {
        width: 150px;
        height: 150px;
        border-radius: 100%;
        background-color: #f77307;
        position: absolute;
        top: 0;
        transform: translateY(-35%);
        padding-top: 60px;
      }

       /* ------------------------ABOUT US------------------- */
       .about-us-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 49px;
        align-items: center;
        justify-content: center;
        background-color: rgba(59, 52, 160, 0.27);
        padding-top: 58px;
        padding-bottom: 99px;
      }
      .about-us-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
      }
      .about-us-icon {
        width: 88px;
        height: 88px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 0;
      }
      .blue {
        background-color: #4171C4;
      }
      .green {
        background-color: #6CCC3E;
      }
      .red {
        background-color: #E5333D;
      }
      .violet {
        background-color: #8555C1;
      }
      .about-us-title {
        font-weight: 400;
        font-size: 38px;
        color: #e1400f;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        letter-spacing: 0.03em;

      }
      .about-us-description {
        font-weight: 400;
        font-size: 14px;
        align-items: center;
      }


      .about {
        
        margin-top: 131px;
        gap: 109px;
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center; 
        text-align: center; 
      }
      
      .about-img {
        display: none;
      }

      .about-imgg {
        margin-top: 49px;
        margin-bottom: 49px;
        border-radius: 35px;
        width: 399px;
        height: 355px;
        background-color: #f77307;
      }
      
      .about-wrapper {
        width: 100%; 
        max-width: 943px; 
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center; 
      }
      
      .about-title {
        max-width: 400px;
        font-weight: 200;
        font-size: 28px;
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 1.5;
      }
      
      .about-text {
        font-family: "Poppins";
        font-weight: 200;
        font-size: 18px;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 1.5;
      }
      
      .about-description {
        font-family: "Poppins";
        color: #FFFFFF;
        font-size: 18px;
        margin-top: 23px;
        letter-spacing: 1px;
        margin-bottom: 18px ;
        
      }
      
      .about-btn {
        margin-top: 23px;
        padding: 12px 40px;
        background: linear-gradient(90deg, #3b34a1 0%, #e1400f 100%);
        font-weight: 400;
        font-size: 18px;
        text-align: center;
        color: #fff;
        border: none;
        outline: none;
      }
      
      .about-btn:hover,
      .about-btn:focus, 
      .about-btn:active
      {
       color: #000;
     }

/* ------------------------ABOUT-SERVICES-------------------- */

 .about-services-title {
  font-size: 28px;
  text-align: center;
  max-width: 398px;
  margin: 0 auto;
  margin-top: 215px;
  line-height: 1.5;
}

.about-services-description {
  font-family: "Poppins";
  font-size: 18px;
  text-align: center;
  max-width: 398px;
  margin: 10px auto;
  margin-bottom: 50px;
  line-height: 1.5;
}

.about-services-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 137px;
  margin-top: 100px;
}

.about-services-item-black {
  border-radius: 25px;
  width: 400px;
  height: 416px;
  background: #2C2B2B;
  transform: rotate(-5deg);
  position: relative;
  top: 0;
}

.about-services-item {
  border-radius: 25px;
  width: 400px;
  height: 416px;
  background-color: #101d4f;
  padding: 24px 38px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position: absolute;
  z-index: 2;
  transform: rotate(10deg);
}

.about-services-img {
  width: 180px;
  height: 180px;
  border-radius: 100%;
  background-color: #f77307;
  position: absolute;
  top: 0;
  transform: translateY(-45%);
}


.about-services-list-title {
  font-size: 28px;
  text-align: center;
  transform: rotate(-5deg);
}

.about-services-list-text{
  font-family: "Poppins";
  font-weight: 200;
  font-size: 18px;
  text-align: center;
  max-width: 320px;
  transform: rotate(-5deg);
}

.about-services-btn {
  height: 29px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 18px;
  color: #e1400f;
  margin-top: 40px;
  transform: rotate(-5deg);
}
.about-services-icon {
  margin-left: 12px;
  line-height: 0;
  position: relative; 
  top: 5px;
}

.about-services-btn:hover,
.about-services-btn:focus 
.about-services-btn:active
{
 color: #000;
 fill: #000;
}
/* ------------------------RESOURSCE-------------------- */
.resources {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(59, 52, 160, 0.27);
  padding: 110px 20px;
  margin: 215px auto;
  align-items: center;
  justify-content: center;
  margin-bottom: 152px;
}
.resources-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.resources-title {
  font-size: 28px;
  max-width: 387px;
  text-align: center;
  line-height: 1.5;
}

.resources-text {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 200;
  font-size: 18px;
  margin-top: 12px;
  max-width: 387px;
  text-align: center;
  line-height: 1.5;
}

.resources-list {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin-top: 59px;
  justify-content: center;
  align-items: center;
}

.resources-list-img {
  width: 154px;
  height: 154px;
  border-radius: 100%;
  background-color: #f77307;
}

.resources-list-title {
  font-size: 34px;
  text-align: center;
  margin-top: 15px;
  max-width: 180px;
}
/* ------------------------CONTACTS-------------------- */

.contact {
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contact-title {
  font-size: 28px;
  text-align: center;
  width: 397px;
  line-height: 1.5;
}

.contact-text {
  font-family: "Poppins";
  font-weight: 200;
  font-size: 18px;
  margin-top: 12px;
  margin-right: 0;
  text-align: center;
  width: 396px;
  line-height: 1.5;
}

.contact-form {
  margin-top: 50px;
  display: flex;
  gap: 35px;
  flex-direction: column;
}

.contact-input {
  background-color: #101D4F;
  color: #FFFFFF;
  padding: 16px 23px;
  border: none;
  resize: none;
  width: 391px;
}
.contact-btn {
  padding: 16px 40px;
  background: linear-gradient(90deg, #3b34a1 0%, #e1400f 100%);
  font-size: 18px;
  text-align: center;
  color: #fff;
  border: none;
  width: 397px;
}

.contact-btn:hover,
.contact-btn:focus,
.contact-btn:active {
  color: #000;
}

.contact-img-mobile {
  border-radius: 100%;
  width: 358px;
  height: 358px;
  background-color: #f77307;
  margin: 38px auto;
}

/* ------------------------FOOTER-------------------- */
.footer {
  background-color: rgba(59, 52, 160, 0.27);
  margin-top: 215px;
  display: flex;
  flex-direction: column;
  padding-bottom: 65px;
  padding-top: 119px;
}
 
.footer-logo {
  font-size: 38px;
  color: #df3d0f;
  width: 281px;
  margin: 0 auto;
  text-align: center;
}

.footer-wrap {
  display: flex;
  gap: 80px;
  flex-direction: column;
}
.footer-container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-top: 69px;
  align-items: center;
  justify-content: center;
}

.footer-title {
  font-size: 28px;
  font-weight: 300;
  max-width: 321px;
  text-align: center;
  padding-top: 0;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 42px;
  align-items: center;
  justify-content: center;
  /* align-items: start; */
  justify-content: center;
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 200;
}
.footer-list-contacts{
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  gap: 42px;
  /* align-items: center; */
  align-items: start;
  /* justify-content: center; */
}

.footer-list-text{
  max-width: 330px;
    display: flex;
    gap: 30px;
    justify-content: center;

}
.footer-list-text-interested{
  font-family: "Poppins";
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  margin-top: 48px;
}

.footer-icon{

}

.footer-item {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  text-align: center;
  
}
.footer-text {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  margin: 0 auto;
  margin-top: 208px;
  width: 400px;
} 


}


/* Десктопні стилі */
@media (min-width: 769px){
/* ------------------------HEADER-------------------- */
nav ul li {
  margin-left: 30px;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 10px;
  margin: 58px 96px 96px 79px;
}
.logo {
  color: #DF3D0F;
  font-size: 26px;
  text-align: center;
  flex-shrink: 0; 
}
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav {
    margin-right: 34px;  
}
.nav ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    display: flex;   
}
.nav li {
    margin-right: 34px; 
}
.header-list{
    color: #FFFFFF;
}

.header-list:hover,
.header-list:focus,
.header-list:active
  {
  color: #000;
}


.mobile-open-btn-icon {
    display: none;
}
/* ------------------------HERO-------------------- */
.container {
    padding: 0px 55px;
  }
.hero {
    display: flex;
    gap: 90px;
    align-items: center;
  } 
  .hero-left {
    width: 628px;
    
  }
  .img-container {
    width: 550px;
    height: 470px;
    background-image: url(/images/hero.png);
  }
  .hero-title {
    width: 628px;
    font-weight: 400;
    font-size: 48px;
    margin-bottom: 20px;
    line-height: 1.5; 
  }
  .hero-text {
    width: 628px;
    font-family: "Poppins";
    font-size: 24px;
    margin-bottom: 130px;
    line-height: 1.5;
    color: #FFFFFF;
  }
  .btn-container {
    display: flex;
    gap: 27px;
  } 
  .hero-btn {
    width: 292px;
    height: 73px;
    font-size: 24px;
    border: none;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    padding: 18px 8px;
    letter-spacing: 0.03em;
    background: linear-gradient(90deg, #3b34a1 0%, #e1400f 100%);
}
.btn-get-started{
    background: #001530;
    border: solid;
    border-image: linear-gradient(90deg, #3b34a1 0%, #e1400f 100%) 1;
}
  .hero-btn:hover,
  .hero-btn:focus,
  .hero-btn:active
    {
    color: #000;
  }

/* ------------------------SERVICES-------------------- */
.services{
    padding: 0 90px ;
}   
.services-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 44px;
    margin: 90px auto;
  }
  
  .services-item {
    border-radius: 15px;
    width: 334px;
    height: 228px; 
    background-color: rgba(59, 52, 160, 0.27);
    padding: 24px 38px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }

  .services-text {
    font-weight: 200;
    font-size: 24px;
    text-align: center;
    margin-top: 114px;
    width: 286px;  
  }
  .services-img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color: #f77307;
    position: absolute;
    top: 0;
    transform: translateY(-35%);
  }

/* ------------------------ABOUT US------------------- */
  .about-us-list {
    width: 100%;
    display: flex;
    gap: 49px;
    align-items: center;
    justify-content: center;
    background-color: rgba(59, 52, 160, 0.27);
    padding-top: 58px;
    padding-bottom: 58px;
  }
  .about-us-item {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .about-us-icon {
    width: 88px;
    height: 88px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
  }
  .blue {
    background-color: #4171c4;
  }
  .green {
    background-color: #6ccc3e;
  }
  .red {
    background-color: #e5333d;
  }
  .violet {
    background-color: #8555c1;
  }
  .about-us-title {
    font-weight: 400;
    font-size: 38px;
    color: #e1400f;
    margin-bottom: 10px;
  }
  .about-us-description {
    font-weight: 400;
    font-size: 14px;
  }
  
  .about {
    
    margin-top: 216px;
    display: flex;
    gap: 109px;
  }
  
  .about-img {
    margin-left: 173px;
    border-radius: 35px;
    width: 515px;
    height: 457px;
    background-color: #f77307;
  }
  .about-imgg {
    display: none;
  }
  
  .about-wrapper {
    width: 628px;
  }
  
  .about-title {
    max-width: 508px;
    font-weight: 200;
    font-size: 38px;
    line-height: 1.5;
  }
  
  .about-text {
    font-family: "Poppins";
    font-weight: 200;
    font-size: 24px;
    margin-top: 10px;
    line-height: 1.5;
  }
  
  .about-description {
    font-family: "Poppins";
    font-weight: 200;
    font-size: 18px;
    margin-top: 23px;
    line-height: 1.5;
  }
  
  .about-btn {
    margin-top: 23px;
    padding: 12px 40px;
    background: linear-gradient(90deg, #3b34a1 0%, #e1400f 100%);
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #fff;
    border: none;
    outline: none;
  }
  .about-btn:hover,
  .about-btn:focus {
    color: black;
  }
/* ------------------------ABOUT-SERVICES-------------------- */
 .about-services-title {
  font-size: 38px;
  text-align: center;
  max-width: 996px;
  margin: 0 auto;
  margin-top: 215px;
  line-height: 1.5;
}
.about-services-description {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  text-align: center;
  max-width: 960px;
  margin: 10px auto;
  margin-bottom: 50px;
  line-height: 1.5;
}
.about-services-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 137px;
  margin-top: 103px;
}
.about-services-item-black {
  border-radius: 25px;
  width: 400px;
  height: 416px;
  background: rgba(44, 43, 43, 0.44);
  transform: rotate(-5deg);
  position: relative;
  top: 0;
}
.about-services-item {
  border-radius: 25px;
  width: 400px;
  height: 416px;
  background-color: #101d4f;
  padding: 24px 38px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position: absolute;
  z-index: 2;
  transform: rotate(10deg);
}
.about-services-img {
  width: 180px;
  height: 180px;
  border-radius: 100%;
  background-color: #f77307;
  position: absolute;
  top: 0;
  transform: translateY(-50%);
}
.about-services-list-title {
  font-size: 28px;
  text-align: center;
  transform: rotate(-5deg);
}
.about-services-list-text{
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 200;

  text-align: center;
  max-width: 320px;
  transform: rotate(-5deg);
}
.about-services-btn {
  height: 29px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 18px;
  color: #e1400f;
  margin-top: 40px;
  transform: rotate(-5deg);
}
.about-services-icon {
  margin-left: 12px;
  line-height: 0;
  position: relative; 
  top: 5px;
}
.about-services-btn:hover,
.about-services-btn:focus 
.about-services-btn:active
{
 color: #000;
 fill: #000;
}
/* ------------------------RESOURSCE-------------------- */
.resources {
  width: 100%;
  background-color: rgba(59, 52, 160, 0.27);
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 80px 20px;
  margin: 215px auto;
  align-items: center;
  margin-bottom: 152px;
}
.resources-wrap {
  align-items: start;
  justify-content: center;
}
.resources-title {
  line-height: 1.5;
  font-size: 34px;
  max-width: 631px;
  text-align: start;
}
.resources-text {
  font-family: "Poppins";
  font-weight: 200;
  font-size: 18px;
  margin-top: 12px;
  line-height: 1.5;
  max-width: 420px;
  text-align: start;

}
.resources-list {
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 80px;
  justify-content: center;
  flex-direction: row;
  align-items: start;
}
.resources-list-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 154px;
  height: 154px;
  border-radius: 100%;
  background-color: #f77307;
  
}
.resources-list-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 34px;
  text-align: center;
  margin-top: 26px;
  max-width: 180px;
}
/* ------------------------CONTACTS-------------------- */
.contact {
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contact-title {
  font-size: 28px;
  text-align: center;
  width: 397px;
}
.contact-text {
  font-size: 18px;
  margin-top: 12px;
  text-align: center;
  width: 396px;
}
.contact-form {
  margin-top: 50px;
  display: flex;
  gap: 35px;
  flex-direction: column;
}
.contact-input {
  background-color: #101D4F;
  padding: 16px 29px;
  border: none;
  resize: none;
  color: #fff;
  width: 397px;
}
.contact-btn {
  padding: 16px 40px;
  background: linear-gradient(90deg, #3b34a1 0%, #e1400f 100%);
  font-size: 18px;
  text-align: center;
  color: #fff;
  border: none;
  outline: none;
  width: 397px;
}
.contact-btn:hover {
  color: black;
}
.contact-img {
  border-radius: 100%;
  width: 416px;
  height: 416px;
  background-color: #f77307;
}
/* ------------------------RESOURSCE-------------------- */
.contact {
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.contact-title {
  font-size: 34px;
  text-align: start;
  width: 599px;
  line-height: 1.5;
}
.contact-text {
  font-family: "Poppins";
  font-weight: 200;
  font-size: 24px;
  margin-top: 12px;
  margin-right: 0;
  text-align: start;
  width: 584px;
  line-height: 1.5;
}
.contact-form {
  margin-top: 50px;
  display: flex;
  gap: 35px;
  flex-direction: column;
}
.contact-input {
  background-color: #101d4f;
  padding: 16px 29px;
  border: none;
  resize: none;
  color: #fff;
  width: 477px;;
}
.contact-btn {
  padding: 16px 40px;
  background: linear-gradient(90deg, #3b34a1 0%, #e1400f 100%);
  font-size: 18px;
  text-align: center;
  color: #fff;
  border: none;
  outline: none;
  width: 477px;
}
.contact-btn:hover,
.contact-btn:focus,
.contact-btn:active {
  color: #000;
}
.contact-img {
  border-radius: 100%;
  width: 416px;
  height: 416px;
  background-color: #f77307;
  margin-left: 91px;
  margin-top: 91px;
}
.contact-img-mobile{
  display: none;
}
/* ------------------------FOOTER-------------------- */
.footer {
  background-color: rgba(59, 52, 160, 0.27);
  margin-top: 215px;
  flex-direction: column;
  padding-bottom: 65px;
  padding-top: 119px;
  padding-left: 91px;
  padding-right: 83px;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-logo {
  font-size: 38px;
  color: #df3d0f;
  width: 281px;
  margin: 0 auto;
  text-align: center;
}
.footer-wrap {
  display: flex;
  gap: 80px;
  flex-direction: row;
  align-items: flex-start;
}
.footer-container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-top: 69px;
  align-items: flex-start;
  justify-content: center;
}
.footer-title {
  font-size: 28px;
  font-weight: 300;
  max-width: 321px;
  text-align: start;
  padding-top: 0;
}
.footer-list {
  display: flex;
  flex-direction: column;
  gap: 42px;
  align-items: flex-start;
  justify-content: center;
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 200;

}
.footer-list-contacts{
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  gap: 42px;
  align-items: start;
}
.footer-list-text{
  max-width: 330px;
  display: flex;
  gap: 30px;
  justify-content: center;
}
.footer-list-text-interested{
  font-family: "Poppins";
  font-weight: 400;
  font-size: 18px;
  text-align: left;
  margin-top: 48px;
  max-width: 300px;
}
.footer-item {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  display: flex;
  max-width: 300px;
  margin-left: 0;
  padding-left: 0;
}
.footer-text {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  margin: 0 auto;
  margin-top: 208px;
  width: 400px;
} 
.footer-list-bottom{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
}